.title{
    font-family:'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 30px;
}
.tabs{
    color: #00000A;
font-family: 'Basis Grotesque';
font-weight: medium;
font-size: 15px;
line-height: normal;
letter-spacing: 0px;
text-align: right;
margin-top: 18px;
}